*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    /* background-color: #272932; */
    background: -webkit-linear-gradient(90deg, #09090c,#1a1b23);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
    line-height: 1.5;
}
